





.quiz-section{
    padding: 30px;
    display: none;

    &.active{
        display: block;
    }
}



.form-group{
    margin-bottom: 20px;
}



.quiz-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-border-lighter);
}


#question-text{
    font-size: 22px;
    margin-bottom: 24px;


}








#feedback-container{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;


    &.incorrect{
        color: var(--color-incorrect-border);
        background-color: var(--color-incorrect-bg);

    }
    &.correct{
        color: var(--color-correct-border);
        background-color: var(--color-correct-bg);

    }

    
}



#result-precentage{
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
    color: var(--color-primary);
}

.final-result{
    text-align: center;
    margin-bottom: 24px;

}


#result-actions{
    text-align: center;
}


.fade-out{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

.countDown{
    font-style: 24px;
    font-weight: 700;
    color: var(--color-incorrect-text);
    text-align: center;
    margin-top: 20px;
}

#timer-seconds {
    font-weight: bold;
    color: var(--color-primary);
}

.player-group-select{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

#start-button {
    
   margin-left: auto;
}

.spinner {
    width: 30px;          /* Можно уменьшить под размер строки */
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    /* Убираем margin-left: auto, если не нужно прижимать к правому краю */
    margin-left: auto;  
    margin-right: 30px;
    
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

.favorite-toggle{
    display: flex;
    align-items: center;
    justify-content: start;

    .add-favorite{
        filter:grayscale(1);
        transition: all 0.3s;
        cursor: pointer;

        &:hover{
            filter: grayscale(0.4);
        }
    }
    
    
    .added-favorite{
        filter: grayscale(0);
        transition: all 0.3s;
        cursor: pointer;

        &:hover{
            filter: grayscale(0);
        }
    }
}